.field {
  background: #f8f8fa;
  box-sizing: border-box;

  padding: 14px 16px;
  color: #292929;
  font-size: 14px;
  height: 48px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;

  @include hover(border, 1px solid #d5d7de);

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #f8f8fa inset;
  }

  &:focus {
    border: 1px solid #292929;
  }

  &::placeholder {
    color: #7e7e83;
  }
}
